/* Estilos globais */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2em;
  color: #333;
}

p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

#titulo {
  margin: 60px 20px;
}

.menu {
  margin: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-item {
  text-decoration: none;
  font-size: 1.5em;
  padding: 15px 20px;
  border: 2px solid #007bff;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
}

.menu-item:hover {
  opacity: 0.9;
}

.bingo-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

#numbers {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
  margin: 20px auto;
}

#numbers div {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #f9f9f9;
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

#numbers div.sorteado {
  background-color: #4caf50;
  color: white;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

button:hover {
  opacity: 0.9;
}

button.hidden {
  display: none;
}

#sortear {
  background-color: #007bff;
  color: white;
}

#reiniciar {
  background-color: #f44336;
  color: white;
}

#ultimo-numero {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}

#rodape {
  margin-top: 20px;
  font-size: 12px;
  color: #9C999A;
}

.cartela {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  margin: 20px auto;
  max-width: 250px;
}

.cartela div {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 14px;
  font-weight: bold;
  color: #555;
  cursor: pointer;
  user-select: none;
}

.cartela div.marcado {
  background-color: #4caf50;
  color: white;
}

.hidden {
  display: none;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  #numbers {
    grid-template-columns: repeat(7, 1fr); /* Ajusta para 5 colunas no mobile */
  }

  #numbers div {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }

  .menu {
    margin: 20px 20px;
  }

  .menu-item {
    font-size: 14px;
    padding: 13px 18px;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }

  h1 {
    font-size: 1.5em;
  }
}
